@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

html {
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    font-family: Mulish;
}

section {
    margin: auto;
    background-image: url('images/form-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 850px;
}

form {
    width: 50%;
}

#fname {
    size: 1;
}