html, body {
    height: 100%;
}

body {
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: rgb(255, 255, 255);
    width: 400px;
    box-shadow: 10px 10px 35px 3px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.card h2 {
    margin: 8px;
}

.card p {
    margin: 8px 8px 20px 8px;
}